@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#__next {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .from-primary {
    --tw-gradient-from: theme("colors.primary");
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(0, 0, 0, 0));
  }

  .to-secondary {
    --tw-gradient-to: theme("colors.secondary");
  }

  .text-gradient {
    background: linear-gradient(to right, #00d7c5, #0bef9c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
